<div id="container" class="container">

<h1>Bad Hosts</h1>
  
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  
<table id="badHostsTable" class="table table-hover">
<thead>
  <tr>
    <th>Host</th>
    <th>
      <button class="btn btn-default" data-toggle="modal" data-target="#badHostModal">
      <span class="glyphicon glyphicon-plus"></span>Add Host
      </button>
    </th>
  </tr>
</thead>
<tbody>
    <tr ng-repeat="host in badHosts | orderBy:'value'">
        <td>{{host.hexString}}</td>
        <td>
            <button class="btn btn-default" ng-click="deleteHost(host)">delete</button>
        </td>
    </tr>
</tbody>
</table>


<!-- Modal -->
<div
    class="modal fade"
    id="badHostModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Bad Host</h4>
            </div>
            <div class="modal-body">

                <!-- begin form -->
                <form class="form-horizontal" role="form" id="addBadHostForm">
                    <div class="form-group">
                        <label
                            for="inputMacAddress"
                            class="col-sm-3 control-label">
                            Mac Address</label>
                        <div class="col-sm-9">
                            <input
                                type="text"
                                class="form-control"
                                id="inputMacAddress"
			        ng-model="inputMacAddress"
                                placeholder=" Mac Address">
                        </div>
                    </div>
                </form>
                    <!-- end form -->
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal">Close</button>
                <button
                    type="button"
                    class="btn btn-primary"
	            ng-click="addBadHostFromForm()">
                    Save changes
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div> <!-- container -->


